---
import Contacto from '../components/Contacto.astro';
import Hero from '../components/Hero.astro';
import Proyectos from '../components/Proyectos.astro';
import Skills from '../components/Skills.astro';
import Layout from '../layouts/Layout.astro';
---

<Layout title='Paul Cruz'>
  <div>
    <Hero />
    <Proyectos />
    <Skills />
    <Contacto />
  </div>
</Layout>
