<section class='text-white bg-Dark' id='Contacto'>
  <div class='max-w-screen-xl m-auto'>
    <h3 class='text-center text-3xl font-bold py-12 px-5 underline'>
      CONTACTO
    </h3>
  </div>
</section>
