<section class='bg-Dark'>
  <div
    class='text-white max-w-screen-xl mx-auto flex flex-col justify-around h-full'
  >
    <a
      href='#'
      class='text-center text-2xl font-bold hover:text-Orange transition-colors duration-500'
      >Regresar</a
    >
    <ul
      class='px-5 flex gap-5 justify-center items-center text-slate-500 [&>li]:transition-colors [&>li>a]:duration-300'
    >
      <li><a href='#' class='hover:text-Orange font-bold'>Inicio</a></li>

      <li>
        <a href='#Proyectos' class='hover:text-Orange font-bold'>Proyectos</a>
      </li>
      <li><a href='#Skills' class='hover:text-Orange font-bold'>Skills</a></li>

      <li>
        <a href='#Contacto' class='hover:text-Orange font-bold'>Contacto</a>
      </li>
    </ul>
    <div class='flex justify-center divide-y divide-slate-200 sm:text-xl'>
      Creado por Duskalor - Paul Cruz -&nbsp;<span class='font-bold'
        >{new Date().getFullYear()}</span
      >
    </div>
  </div>
</section>
